<h1 id="fb-welcome"></h1>

<pre>
<%= Cowsay.say("Hello") %>
</pre>

<pre>
BEFORE EIT:<p>

     Good morning, Ralph.  That looks like a    Yup, I just made it.  And, boy
     yummy tofu and eggsalad sandwich with      am I looking forward to eating
     mustard you've got there.                  it.
    /     ______________________________________/
   O     O
 __|__ =_|__
   |     |
  / \   / \<p>

       Note the yummy tofu and eggsalad sandwich with mustard 4 squares above
       represented by an equals sign.<p>

AFTER EIT:<p>

     Eit   I am slain                              Ha ha ha ________________
    /     /                                                                 \
   O     O                                         Ha ha ha ______________   O
  _|_/ __|__                                                              \  +
 / |     |                                         Boy were you ________   O ^
  / \ * / \                                        eited, Ralph.        \  +
       \                                                                 O ^
        The remains of the eited sandwich.                               +
                                                                         ^<p>
</pre>